.leet-container {
    padding: 1rem 0;
}

.leet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.leet-header {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    gap: 20px;
}

.leet-filters {
  margin-bottom: 0px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.filter-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-item select {
  padding: 6px;
  font-size: 14px;
  width: 100%;
}

.filter-button {
  margin-top: 24px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination a,
.pagination span {
  padding: 6px 9px;
  text-decoration: none;
  color: #007aff;
  border-radius: 4px;
}

.pagination .current {
  background-color: #007aff;
  color: white;
  border-color: #007aff;
}

.pagination .disabled {
  color: #aaa;
}
