<div class="login-page">
  <div class="login-container">
    <div class="logo">
      <%= image_tag "logo.svg", alt: "Leet Planner Logo" %>
    </div>
    <h1>Welcome to Leet Planner</h1>
    <p>Your personal productivity companion</p>
    <%= link_to "Sign in with Google", "/login/google", class: "btn btn-primary" %>
  </div>
</div>
