.flash-success {
  background-color: var(--tamu-red);
  color: white;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.flash-alert {
  background-color: grey;
  color: white;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}